<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.gamsungjin.visit.dao.VisitDAO">
 	<insert id="insertVisit" parameterType="int">
 		INSERT INTO `visit`
		(
			`userId`
			, `createdAt`
		)
		VALUES
		(
			#{userId}
			, NOW()
		)
 	</insert>
 	
 	<select id="selectVisitCountByUserId" parameterType="int" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`visit`
 		WHERE
 			`userId` = #{userId}
 	</select>
 </mapper>